<!DOCTYPE html>
<html lang="en" class="no-js">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="app.css">
  </head>

<body g-app="myApp" ng-controller="View2Ctrl">
<div class="container">
	<center><div class="tb"><input class="form-control" ng-model="criterioDeBusca" type="search" placeholder="O que você esta procurando?" /><br><table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Id</th>
	      <th scope="col">Idade</th>
	      <th scope="col">Nome</th>
	      <th scope="col">Time</th>
	      <th scope="col">Posição</th>
	      <th scope="col"> Excluir</th>
	      <th scope="col"> Editar</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="jogador in jogadores | filter:criterioDeBusca" >
	      <td>{{jogador.id}}</td>
	      <td>{{jogador.idade}}</td>
	      <td>{{jogador.nome}}</td>
	      <td>{{jogador.timee}}</td>
	      <td>{{jogador.posicao}}</td>
	      <td> <button  class="btn btn-primary mm"  ng-click="deletar(jogador.id)"><i class="material-icons">delete_forever</i></button></td>
	      <td><button type="button" class="btn btn-primary mm" data-toggle="modal" data-target="#exampleModal"><i class="material-icons">edit</i></button></td>
	    </tr>
	  </tbody>
	  
	</table>
	 </div>


	 <!-- Modal -->
	 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	   <div class="modal-dialog" role="document">
	     <div class="modal-content" style="background-color: #fff; color: #000;">
	       <div class="modal-header" style="background-color: #fff; color: #000;">
	         <h5 class="modal-title" id="exampleModalLabel">Editar Campos</h5>
	         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	           <span aria-hidden="true">&times;</span>
	         </button>
	       </div>
	       <div class="modal-body" style="background-color: #fff; color: #000;">
	         <center>
	         		<form name="jogadoresForm" ng-repeat="jogador in jogadores">
	         	      <div class="form-group">
	         		    <label for="formGroupExampleInput2" style="float: left;">Editar Idade:</label>
	         		    <input type="number" class="form-control inp" id="formGroupExampleInput2" placeholder="Digite Idade" ng-model="jogador.idade" value="{{jogador.idade}}">
	         		  </div>
	         		   <div class="form-group">
	         		    <label for="formGroupExampleInput2" style="float: left;">Editar Nome:</label>
	         		    <input type="text" class="form-control inp" id="formGroupExampleInput2" placeholder="Digite Nome" ng-model="jogador.nome" value="{{jogador.nome}}">
	         		  </div>
	         		    <div class="form-group">
	         		    <label for="formGroupExampleInput2" style="float: left;">Editar Time:</label>
	         		    <input type="text" class="form-control inp" id="formGroupExampleInput2" placeholder="Digite Time" ng-model="jogador.timee" value="{{jogador.timee}}">
	         		  </div>
	         		    <div class="form-group">
	         		    <label for="formGroupExampleInput2" style="float: left;">Editar Posição:</label>
	         		    <input type="text" class="form-control inp" id="formGroupExampleInput2" placeholder="Digite Posicao" ng-model="jogador.posicao" value="{{jogador.posicao}}">
	         		  </div>
	         		  <div class="form-group">
	         		    <input type="submit" class="btn btn-primary" value="Enviar Dados"  ng-click="editar(jogador)" style="width: 100%;" data-dismiss="modal">
	         		  </div>
	         		</form>
	         </center>
	       </div>
	       <div class="modal-footer" style="background-color: #fff; color: #000;">
	         <button type="button" class="btn btn-primary nn" data-dismiss="modal">Fechar</button>
	       </div>
	     </div>
	   </div>
	 </div></center>
</div>


  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>